@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Pretendard-Regular,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

html {
  /* #주소로 scroll 이동할 때 부드럽게 이동  */
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
